#bird {
  position: absolute;
  top: 50vh;
  left: 100px;
  z-index: 5;
}
.btns {
  position: fixed;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#bird_line {
  position: absolute;
  width: 50px;
  height: 10px;
  /* border: 2px solid black; */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>');
  top: 50vh;
  left: 100px;
}
