#bird {
  position: absolute;
  top: 70vh;
  left: 100px;
  z-index: 5;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#bird_line {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50vh;
  left: 100px;
}

#ground {
  border-bottom: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
}

#topdown_arrow {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: black;
}
#leftright_arrow {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: black;
}
#pig {
  position: absolute;
  top: 70vh;
  right: 150px;
}
